
input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
  width: 15%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 15px 70px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type= clear]:hover {
  background-color: #ac3006;
}
input[type= clear] {
    width: 15%;
    background-color: #ac3006;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
